@font-face {
    font-family: 'YukarimobileRegular';
    src: url('../fonts/yukarimobil-webfont.eot');
    src: url('../fonts/yukarimobil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yukarimobil-webfont.woff') format('woff'),
         url('../fonts/yukarimobil-webfont.ttf') format('truetype'),
         url('../fonts/yukarimobil-webfont.svg#YukarimobileRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*global*/
body {
    background: #000;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
body, header {
    background: url('../img/patterns/office.png');
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,1) 100%), url('../img/patterns/office.png');
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(25%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))), url('../img/patterns/office.png');
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../img/patterns/office.png');
    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../img/patterns/office.png');
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../img/patterns/office.png');
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../img/patterns/office.png');
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ), url('../img/patterns/office.png');
    background-position: scroll;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;
    /*-webkit-font-smoothing:antialiased;*/
    /*color: #fff;*/
}

p {font-size: 14px;}
h1 {font-size: 60px;}
h2 {font-size: 48px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 14px;font-weight: bold;}


a {
    color: #d64699;
}
a:hover {
    color: #d64699;   
}

/*macro*/
header {
    width: 100%;
    height: 40px;
    position: fixed;
    margin-bottom: 40px;
}

.two-col{
    -webkit-column-count: 2; -webkit-column-gap:20px;
    -moz-column-count:2; -moz-column-gap:20px;
    -o-column-count:2; -o-column-gap:20px;
    column-count:2; column-gap:20px;
}

/*navbar */

.navbar-inverse .navbar-inner {
    border: none;
    background: none; 
    height: 40px;
}

.navbar-inner .nav {
    float: right;
}
.navbar-inverse .navbar-inner .cta a {
    color: #d64699;
}
.logo {
  width: 280px;
  height: 85px;
  background: url('../img/mastline-glogo.png') left center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin: 0 0 0 -20px;
  padding: 0;
}

/*editorial rows*/
.editorial:first-child {
    margin-top: 40px;
}
.editorial {
    padding: 50px 20px;
    margin-bottom: 40px;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #fff;*/
    background-size: fit;
    background-attachment: fixed;
}
.editorial h2 {
    text-align: center;
}
.editorial .toc {
    list-style: none;
}
.editorial .block,
.editorial .block-right {
    background: rgba(0,0,0,0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.editorial .block {
    margin-left: -20px;
    padding-left: 40px;
    padding-right: 30px;
}
.editorial .block-right{
    margin-right: -10px;
    padding-right: 40px;
    padding-left: 30px;
}

.editorial .shop{
    text-align: right;
}
.editorial .shop h3{
    display: inline;
    margin-right: 0.75em;
    color: #fff;
}
.editorial .shop a:hover{
    text-decoration: none;
}
.editorial .shop a:hover h3{
    color: #d64699;
}

.editorial .shop img {
    margin-top: -13px;
}

/*editorial background images*/
#first{
    background-image: url('../img/editorials/first_bg.png');
}

#second{
    background-image: url('../img/editorials/second_bg.png');
}

#third{
    background-image: url('../img/editorials/third_bg.png');
}


/*footer*/
footer{
    padding-bottom: 20px;

}
footer .border-left {
    border-left: #fff 1px solid;
    min-height: 120px;
    margin-left: -20px;
    padding-left: 20px;
}
footer ul {
    list-style: none;
    margin: 0
}
footer .social li {
    display: inline;
}
footer small {
    font-size: 14px;
    color: #999;
    display: block;
    text-align: center;
}
